.mainIndexContacto {
    background-color: #FBF6F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #040B0B;
    padding-bottom: 60px;
}

.mainIndexContacto section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
}

.mainIndexContacto h1 {
    color: #040B0B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 15px;
    text-align: center;
}

form {
    padding: 60px;
    width: 600px;
    margin: 0 auto;
}

form input,
form textarea {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    color: #040B0B;
    font-size: 1em;
    resize: horizontal;
    font-family: "Roboto", sans-serif;
}

form button {
    display: block;
    background-color: #FBF6F4;
    padding: 10px 45px 10px 45px;
    border: 0;
    font-size: 1em;
    color: #040B0B;
    font-family: "Roboto", sans-serif;
}

form button :hover {
    background-color: red;
}

textarea {
    resize: none;
}