.mainIndexHaiku {
    background-color: #FBF6F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #040B0B;
    padding-bottom: 60px;
}

.mainIndexHaiku section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
}

.mainIndexHaiku h1 {
    color: #040B0B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 15px;
}

.mainIndexHaiku p {
    color: #040B0B;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
}

.mainIndexHaiku img {
    padding: 10px 20px 10px;
    width: 50vw;
}

.mainIndexHaiku article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}